<include file="Public/head" />
<style type="text/css">
  table tr > td {padding-left:20px;padding-bottom:10px;}
</style>
  <table>
    <tr>
      <td><a margin-right:10px;" type="button" class="btn btn-primary" onclick="addUser();">添加类型</a></td>      
    </tr>
    <tr>
      <td>
        <select class="form-control" name="type1" id="type1">
            <option value="-1">请选择</option>
            <option value="1">品牌</option>
            <option value="2">乐器</option>
            <option value="3">材料</option>
        </select>
      </td>
      <td><button id="submit_search" class="btn btn-primary " onclick="searchState();">类型查询</button></td>      
    </tr>
  </table>

  <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="userlist" style="padding-right: 20px;">
      <table id="jqGrid" style="width: 100%;"></table>
      <div id="jqGridPager"></div>  
      </div>
      <div role="tabpanel" class="tab-pane" id="edituser">  
      </div>
  </div>
  <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content" style="width:80%;margin:auto;">
      <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">添加商品分类</h4>
        </div>
         <div class="modal-body">
            <table class="modal-table" style="width:80%;">
             <tr style="margin-bottom:5px;">         
              <td>选择类型:</td>
              <td><select class="form-control" style="margin-bottom:10px;" id="ty" name="type"> 
                    <option value="0">选择类型</option>           
                    <option value="1">品牌</option>              
                    <option value="2">乐器</option> 
                    <option value="3">材质</option>         
              </select></td>
              </tr>
              <tr style="margin-top:5px;">
                <td>名称:</td>
                <td><input type="text" class="form-control" name="name" placeholder="名称" id="name" value=""></td>
            </tr>          
            </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
          <button type="button" class="btn btn-primary" onclick="saveProduct()">保存</button>
        </div>         
      </div>
    </div>
  </div>
<include file="Public/footer" />
<script type="text/javascript">
function addUser() {  
    $('.bs-example-modal-lg').modal().show(); 
  }
  function  formatLink(id) {
    return "<a href='edit/id/"+id+"' class='btn btn-primary' style='margin-right:5px;'>编辑</a>";
    // <a href='javascript:' class='btn btn-danger' id='com"+id+"' onclick='deleteRecom("+id+")'>删除</a>
  }
  function  deleteRecom(id) {
    if (confirm("确定删除吗?")) {
      $.ajax({
        url:"{:U('Admin/GoodsClass/delete')}",
        type:"get",
        data:{"id":id},
        success:function(res){
         
          if (res['code'] == 1){
            alert("删除成功");
            $("#com"+id).parent().parent().remove();
          }else{
            alert(res['msg']);
          }
        }
      });
    }
  }
  function saveProduct(){  
    var name     = $("#name").val();  
    var ty       = $("#ty").val();
    if (ty == 0) {
      alert('请选择类型!');return;
    };   
    if (name == '') {
      alert('名称不能为空');return;
    };
      
    $.ajax({
      type     : "POST",
      url      : "{:U('/Admin/GoodsClass/do_add')}",
      data     : {"name":name,"type":ty},
      dataType : "json",

      success  : function(data){
         if(data['code'] == 1){
          alert(data['msg']);
          window.location.href="{:U('/Admin/GoodsClass/index')}";
         }else{
          alert(data['msg']);
         }
      }, error : function(){
          alert('响应失败');
      }
    });
  } 
  $(document).ready(function($) { 
    $("#jqGrid").jqGrid({
      styleUI : 'Bootstrap',
      colModel: [
          { label: '名称', name: 'name',width:'80'},
          { label: '类型', name: 'type',width:'100'},
          { label: '添加时间', name: 'create_at',width:'100'},
          // { label: '修改时间', name: 'update_at',width:'100' },       
          { label: '操作', name: 'id',width:100,formatter: formatLink}
      ],
      viewrecords: true,
      rownumbers: true,
      rownumWidth: 35,
      height: document.documentElement.clientHeight-135,
      autowidth:true,
      rowNum: 9,
      datatype: 'local',
      loadonce:true,
      pager: "#jqGridPager"
    });
    $("#jqGrid").jqGrid('setGridParam', { data: eval({$data})});
    $("#jqGrid").trigger('reloadGrid');


  });

  function searchState(){
    var type = $("#type1 option:selected").val();
    // if (type == -1 ) {
    //   alert("请选择类型"); return false;
    // }
    $.ajax({
      url:"{:U('/Admin/GoodsClass/searchType')}",
      type:'GET',
      data:{'type':type},
      dataType:'json',
      success:function(returndata){
        $("#jqGrid").clearGridData();
            $("#jqGrid").jqGrid('setGridParam', { data: returndata});
            $("#jqGrid").trigger('reloadGrid');
      }
    });    
  }
</script>



