<include file="Public/head" />
        <style>
            .kll-form_out {
                position: fixed;
                top: 110px;
    			left: 20%;
                border: 1px solid #666;
                padding: 20px;
                background: #fff;
            }
            .kll-table_out {
                border-collapse: collapse;
                border-spacing:0;
            }
            .kll-th_out {
                border: 1px solid #555;
                color: #7C26BD;
                padding: 10px;
            }
            .kll-td_out {
                border: 1px solid #555;
                color: #005;
                padding: 10px;
                text-align: center;
            }
            .kll-input_out {
                border: 0;
                border-bottom: 1px solid #000;
                width: 50px;
                outline: none;
                font-size: 20px;
                color: #f90;
            }
            .kll-button_out {
                display: block;
                margin: 20px auto 0;
                width: 80px;
                height: 40px;
                font-size: 20px;
                font-weight: 900;
                color: #09f;
                background: none;
                border: 1px solid #09f;
                border-radius: 10px;
                cursor: pointer;
            }
        </style>
    </head>
    <body>
        <form class="kll-form_out" id="myform">
            <table class="kll-table_out">
                <tr class="kll-tr_out">
                    <th class="kll-th_out" colspan="2">会员级别</th>
                    <th class="kll-th_out">VIP(900元)</th>
                    <th class="kll-th_out">VIP银卡(1800元)</th>
                    <th class="kll-th_out">VIP金卡(3600元)</th>
                    <th class="kll-th_out">VIP钻卡(3600元)</th>
                    <th class="kll-th_out">合伙人(7200元)</th>
                </tr>
                <tr class="kll-tr_out">
                    <td class="kll-td_out" rowspan="3">直营续存</td>
                    <td class="kll-td_out">一级教育基金</td>
                    <td class="kll-td_out"><input class="kll-input_out" type="text" id="my0" name="my[]"><span class="kll-span_out">%</span></td>
                    <td class="kll-td_out"><input class="kll-input_out" type="text" id="my1" name="my[]"><span class="kll-span_out">%</span></td>
                    <td class="kll-td_out"><input class="kll-input_out" type="text" id="my2" name="my[]"><span class="kll-span_out">%</span></td>
                    <td class="kll-td_out"><input class="kll-input_out" type="text" id="my3" name="my[]"><span class="kll-span_out">%</span></td>
                    <td class="kll-td_out"><input class="kll-input_out" type="text" id="my4" name="my[]"><span class="kll-span_out">%</span></td>
                </tr>
                <tr class="kll-tr_out">
                    <td class="kll-td_out">二级教育基金</td>
                    <td class="kll-td_out"><input class="kll-input_out" type="text" id="my5" name="my[]"><span class="kll-span_out">%</span></td>
                    <td class="kll-td_out"><input class="kll-input_out" type="text" id="my6" name="my[]"><span class="kll-span_out">%</span></td>
                    <td class="kll-td_out"><input class="kll-input_out" type="text" id="my7" name="my[]"><span class="kll-span_out">%</span></td>
                    <td class="kll-td_out"><input class="kll-input_out" type="text" id="my8" name="my[]"><span class="kll-span_out">%</span></td>
                    <td class="kll-td_out"><input class="kll-input_out" type="text" id="my9" name="my[]"><span class="kll-span_out">%</span></td>
                </tr>
                <tr class="kll-tr_out">
                    <td class="kll-td_out">三级教育基金</td>
                    <td class="kll-td_out"><input class="kll-input_out" type="text" id="my10" name="my[]"><span class="kll-span_out">%</span></td>
                    <td class="kll-td_out"><input class="kll-input_out" type="text" id="my11" name="my[]"><span class="kll-span_out">%</span></td>
                    <td class="kll-td_out"><input class="kll-input_out" type="text" id="my12" name="my[]"><span class="kll-span_out">%</span></td>
                    <td class="kll-td_out"><input class="kll-input_out" type="text" id="my13" name="my[]"><span class="kll-span_out">%</span></td>
                    <td class="kll-td_out"><input class="kll-input_out" type="text" id="my14" name="my[]"><span class="kll-span_out">%</span></td>
                </tr>
                <tr class="kll-tr_out">
                    <td class="kll-td_out" rowspan="3">非直营续存</td>
                    <td class="kll-td_out">一级教育基金</td>
                    <td class="kll-td_out"><input class="kll-input_out" type="text" id="nomy0" name="nomy[]"><span class="kll-span_out">%</span></td>
                    <td class="kll-td_out"><input class="kll-input_out" type="text" id="nomy1" name="nomy[]"><span class="kll-span_out">%</span></td>
                    <td class="kll-td_out"><input class="kll-input_out" type="text" id="nomy2" name="nomy[]"><span class="kll-span_out">%</span></td>
                    <td class="kll-td_out"><input class="kll-input_out" type="text" id="nomy3" name="nomy[]"><span class="kll-span_out">%</span></td>
                    <td class="kll-td_out"><input class="kll-input_out" type="text" id="nomy4" name="nomy[]"><span class="kll-span_out">%</span></td>
                </tr>
                <tr class="kll-tr_out">
                    <td class="kll-td_out">二级教育基金</td>
                    <td class="kll-td_out"><input class="kll-input_out" type="text" id="nomy5" name="nomy[]"><span class="kll-span_out">%</span></td>
                    <td class="kll-td_out"><input class="kll-input_out" type="text" id="nomy6" name="nomy[]"><span class="kll-span_out">%</span></td>
                    <td class="kll-td_out"><input class="kll-input_out" type="text" id="nomy7" name="nomy[]"><span class="kll-span_out">%</span></td>
                    <td class="kll-td_out"><input class="kll-input_out" type="text" id="nomy8" name="nomy[]"><span class="kll-span_out">%</span></td>
                    <td class="kll-td_out"><input class="kll-input_out" type="text" id="nomy9" name="nomy[]"><span class="kll-span_out">%</span></td>
                </tr>
                <tr class="kll-tr_out">
                    <td class="kll-td_out">三级教育基金</td>
                    <td class="kll-td_out"><input class="kll-input_out" type="text" id="nomy10" name="nomy[]"><span class="kll-span_out">%</span></td>
                    <td class="kll-td_out"><input class="kll-input_out" type="text" id="nomy11" name="nomy[]"><span class="kll-span_out">%</span></td>
                    <td class="kll-td_out"><input class="kll-input_out" type="text" id="nomy12" name="nomy[]"><span class="kll-span_out">%</span></td>
                    <td class="kll-td_out"><input class="kll-input_out" type="text" id="nomy13" name="nomy[]"><span class="kll-span_out">%</span></td>
                    <td class="kll-td_out"><input class="kll-input_out" type="text" id="nomy14" name="nomy[]"><span class="kll-span_out">%</span></td>
                </tr>
            </table>
            <button class="kll-button_out" type="button" id="button1">提交</button>
        </form>
<script type="text/javascript">

	$('#button1').on('click',function(){
		// var myform = $('#myform').serialize();
		$.ajax({
			url : "{:U('Admin/Admin/index1')}",
			type:"POST",
			data : $('#myform').serialize(),
			success : function(req){
				alert(req);
			}
		})
	});

	$.ajax({
		url : "{:U('Admin/Admin/index1')}",
		type:"GET",
		data : {},
		dataType : 'json',
		success : function(req){
			// console.log(req);
			var my = req.my;
			for(var i in my){
				$('#my'+i).val(my[i]);
			}
			var nomy = req.nomy;
			for(var i in nomy){
				$('#nomy'+i).val(nomy[i]);
			}
		}
	})


	function saveUser(){
		var userid   = $("#userid").val();
		var username = $("#username").val();
		var password = $("#password").val();
		// var pattern = /^[\u4E00-\u9FA5]{1,6}$/;  //姓名正则
		var myreg = /^(((13[0-9]{1})|(14[0-9]{1})|(17[0]{1})|(15[0-3]{1})|(15[5-9]{1})|(18[0-9]{1}))+\d{8})$/; 	//手机号正则

		if(username.length==0){
			alert('请输入登录名');return;
		}
		if (password.length < 6) {
			alert("密码不符合要求");return;
		}
  	$.ajax({
  		type     : "POST",
  		url      : "{:U('/Admin/Admin/saveUser')}",
  		data     : {"userid":userid,"username":username,"password":password},
  		dataType : "json",
  		error    : function(){},
  		success  : function(data){
    			console.log(data);
    			if(data.status){
    				$(window.parent.document).find("#main_iframe").attr("src",data.url);
    			}else{
    				alert(data.info);
    			}      				
  		}
  	});
	}

	$(".kll-input_out").on("keyup", function () {
		var value = $(this).val();
		// var reg = /[^0-9|\.]/g;//可带点
		var reg = /[^0-9]/g;//不可带点
		value = value.replace(reg, "");
		if (value > 100) {
			value = 99;
		}
		$(this).val(value);
	});
</script>
<include file="Public/footer" />