<include file="Public/head" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/jedate/skin/jedate.css">
<script type="text/javascript" src="__PUBLIC__/jquery/jquery-2.0.3.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/jedate/jquery.jedate.js"></script>
<script type="text/javascript" src="__PUBLIC__/jquery/jquery.form.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/formUpload.js"></script>
	<div class="modal-header">
      <h4 class="modal-title" id="myModalLabel">添加视频课程</h4>
    </div>
<table class="hrPageTable table table-hover table-bordered" style="width:80%;margin:0 auto">
    <thead>
    <tr>
        <th>视频名称</th>
        <th>上传进度</th>
        <th>上传速度</th>
        <th>上传状态</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td id="videoId" style="color:red"></td>
        <td id="videoProgress"></td>
        <td id="videoSpeed"></td>
        <td id="videoStatus"></td>
    </tr>
    <tr>
      <td colspan="2" style="text-align: center;">
      <input type="button" style="background-color: #7C26BD;color:white;width:75px;height:35px" class="uploadBtn" id="uploadBtn" value="开始上传" />
      </td>
      <td colspan="2"  style="text-align: center;">
      <input type="button" style="background-color: #7C26BD;color:white;width:75px;height:35px" class="uploadBtn" id='fileSelecter' value="添加视频" />      
      </td>
    </tr>
    </tbody>
</table>
    <form action="{:U('Course/insert')}" method="post" onSubmit="return check();" enctype="multipart/form-data">
     <div class="modal-body">       
		  <table style="width: 80%;margin:0 auto;">
           <tr style="margin-bottom:5px;">
            <td>选择老师/机构</td>
            <td><select name="user_id" class="form-control"  style="width:300px;margin-bottom: 10px;" >
              <option value="0">平台</option>
              <volist name="user" id="vo">
                <option value="{$vo['id']}">{$vo['nickname']}</option>
              </volist>
            </select></td>
          </tr>      
           <tr style="margin-bottom:5px;">
            <td>选择科目</td>
            <td><select name="category" class="form-control" id="category" style="width:300px;margin-bottom: 10px;" >
              <volist name="category" id="vo">
                <option value="{$vo.['id']}">{$vo['name']}</option>
              </volist>
            </select></td>
          </tr>
          <tr style="margin-bottom:5px;">
            <td>标题</td>
            <td><input type="text" class="form-control" name="video_name" placeholder="标题" id="name" value="" style="width: 300px;margin-bottom:10px;"></td>
          </tr>
        
          <tr style="margin-bottom:5px;">
            <td>价格</td>
            <td><input type="text" class="form-control" name="price" placeholder="视频价格" id="pri" value="" style="width: 300px;margin-bottom:10px;"></td>
          </tr> 
          <tr style="margin-bottom:10px;">
            <td>限制额度</td>
            <td><input type="text" class="form-control" name="limit_price" placeholder="限制额度"  value="" style="width: 300px;margin-bottom:5px;"></td>
          </tr>
          <tr style="margin-bottom:5px;">
            <td>会员折扣</td>
            <td><input type="text" class="form-control" name="discount" placeholder="会员折扣"  value="" style="width: 300px;margin-bottom:10px;"></td>
          </tr>                    
          <tr>        
             <td>简介</td>
             <td><textarea style="resize:none;width:50%;height:200px;margin-bottom:10px;" type="text" rows="4" class="form-control" name="description" id="des" ></textarea></td>
         </tr> 
          
          <tr style="margin-bottom:5px;">
            <td>开课时间</td>
            <td><input type="text" class="workinput wicon mr25 form-control" id="start_time" readonly placeholder="请选择日期" value="" name="start_time" style="width: 300px;margin-bottom:10px;"></td>
          </tr>

           <tr style="margin-bottom:5px;">
            <td>授课方式</td>
            <td><select name="line" class="form-control" style="width:200px;margin-bottom: 10px;margin-top:10px; " >
                <option value="0">线上</option>
              
                <option value="1">线下</option>          
            </select></td>
          </tr>  
	             
		</table>
	    </div> 
      <input type="hidden" name="categoryid" id="categoryid">
        <input type="hidden" name="type" value="add">   
		<button class="btn btn-default" type="submit" style="width:200px;text-align:center;margin-top:15px;margin-left:600px;">完成</button>
</form>
<include file="Public/footer" />
<script type="text/javascript">

  //添加视频
  $("#fileSelecter").selectUpload({
      maxFileSize: 1024 * 1024 * 1024 * 2, //允许上传的最大值，单位是字节
      addFiles: function (data) { //添加文件时的回调
          $("#videoId").html(data.fileName);
          $("#videoProgress").html("0");
          $("#videoSpeed").html("0");
          $("#videoStatus").html("等待上传");
      },
      errorCallback: function (data) { //添加文件时发生错误的回调
          alert("错误码：" + data.code + ";错误消息：" + data.msg);
      }
  });

  //开始上传
  $("#uploadBtn").upload({
      initUrl: "{:U('Admin/LetvCloudV1/saveVideo')}",//初始化上传地址
      uploadProgress: function (progress, rate) { //进度回调
          $("#videoProgress").html(progress);
          $("#videoSpeed").html(rate);
          $("#videoStatus").html("上传中");
      },
      finishCallback: function (data) { //上传完成回调
          $("#videoProgress").html("100%");
          $("#videoSpeed").html("0");
          $("#videoStatus").html("已上传");
      },
      errorCallback: function (data) { //上传错误回调
          $("#videoProgress").html("0");
          $("#videoSpeed").html("0");
          $("#videoStatus").html("上传错误！错误码：" + data.code + ";错误消息：" + data.msg);
      }
  });


	//保存添加或修改的推荐信息
	function check(){
    var categoryid = $("#category option:selected").val();
    $("#categoryid").val(categoryid);

  var videoStatus = $("#videoStatus").text();  
  if (videoStatus != "已上传") {
    alert("请上车视频或者等待视频上传完成");
    return false;
  }
	var ke  = $("#ke").val();  
    if(ke == 0){
      alert('没有选择课程');
       return false;
    }
    var name   = $("#name").val();  
    if(name == 0){
      alert('标题不能为空');
       return false;
    }
   
    var vid = $("#vid").val();
    if(vid == 0){
      alert('视频连接不可以为空');
       return false;
    }
  
    var pri = $("#pri").val();
    if(pri == 0){
      alert('视频价格不能为空');
       return false;
    }
    var des = $("#des").val();
    if(des == 0){
      alert('视频介绍不能为空');
       return false;
    }
	  return true; 	
	}

$("#start_time").jeDate({
    // isvalid:["3,4,8,10",true],  //这里为true
    minDate: $.nowDate(0),
    maxDate: '2025-06-16',
    format:"YYYY年MM月DD日 hh:mm:ss",
    zIndex:3000
})

</script>

