<include file="Public/head" />

<style type="text/css">
  table tr > td:first-child{padding-left:20px;padding-bottom:10px;text-align:center;}
  table tr > td:last-child input{width:80%;margin-bottom:10px;  }
</style>
<div>
  <div style="margin:24px;">
   <div style="margin:24px;">
      <a style="margin-left:20px;width:100px;" type="button" class="btn btn-primary" href="{:U('Course/add')}">添加视频</a>
    </div>   
  </div>
  <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="userlist" style="padding-right: 20px;">
      <table id="jqGrid" style="width: 100%;"></table>
      <div id="jqGridPager"></div>  
      </div>
      <div role="tabpanel" class="tab-pane" id="edituser">    
  </div>
</div>
<include file="Public/footer" />


<script type="text/javascript">

  function formatLink(id) {
    return "<a class='btn btn-primary' href='/Admin/Course/edit/id/"+id+"'>编辑</a>";
  };
 
  function deleteUser(id){
    if (confirm("你确定要删除吗?")) {
      $.ajax({
        url: "{:U('/Admin/User/deleteUser')}",
        dataType: "text",
        async: true,
        data: { "id": id},
        type: "GET",   
        success: function(req) {
          if(req=="true")
          {
            $(window.parent.document).find("#main_iframe").attr("src","{:U('/Admin/User/User')}");
          }else{
            alert('用户删除失败!');
          }
        }
        });     
    }
  }
  

  $(document).ready(function($) { 
    $("#jqGrid").jqGrid({
      styleUI : 'Bootstrap',
      colModel: [
          { label: '所属者', name: 'username',width:'150'},         
          { label: '手机号', name: 'userphone',width:'120'},
          { label: '视频名称', name: 'video_name',width:'150'}, 
          { label: '视频描述', name: 'description',width:'350'},
          { label: '价格', name: 'price',width:'100'},
          { label: '会员折扣', name: 'discount',width:'100'},
          { label: '点击数', name: 'click',width:'100'},
          { label: '限制金额', name: 'limit_price',width:'100'},
          { label: '操作', name: 'id',width:200,formatter: formatLink}
      ],
      viewrecords: true,
      rownumbers: false,
      rownumWidth: 35,
      height: document.documentElement.clientHeight-135,
      autowidth:true,
      rowNum: 10,
      datatype: 'local',
      loadonce:true,
      pager: "#jqGridPager"
    });
    $("#jqGrid").jqGrid('setGridParam', { data: eval({$data})});
    $("#jqGrid").trigger('reloadGrid');
  });
</script>
<script>
  //模糊查询会员
  function searchState(){
    var phone = $("#phone").val();
    var name = $("#name").val();
    var grade = $("#grade").val();
    var insta = $("#insta").val();
    var inend = $("#inend").val();
    if (insta.length <0 || inend.length <0) {
      alert('请选择时间');return;
    };
    $.ajax({
      url:"{:U('/Admin/User/searchUser')}",
      type:'GET',
      data:{'start':insta,'end':inend,'phone':phone,'grade':grade,'name':name},
      dataType:'json',
      success:function(returndata){
        $("#jqGrid").clearGridData();
            $("#jqGrid").jqGrid('setGridParam', { data: returndata});
            $("#jqGrid").trigger('reloadGrid');
      }
    });
  }
</script>
