<include file="Public/head" />
<form id="fmform" action="" method="POST" enctype="multipart/form-data">
    <input type="hidden" value="fmimg" name="imgtype" value="" />
    <input id="fmimg" style="display: none;" name="fmimg" type="file" onchange="upload('fmform','imgurl')"/>
</form>
<style type="text/css">
  table tr > td:first-child{padding-left:20px;padding-bottom:10px;width:40%;text-align:center;}
  table tr > td:last-child input{width:80%;margin-bottom:10px;  }
</style>
<div>
  <div style="margin:24px;">
    产品名称： <input style="height:36px;" type="text" size="24px" placeholder="输入名称" id="tphone" />
    <select style="height:36px;" name="status">
      <option value="0">上线</option>
      <option value="1">下架</option>
    </select>
    
    <button id="submit_search" class="btn btn-success" onclick="searchState();">搜索</button>
    
    <div style="margin:24px;">
      <!-- <a style="margin-left:240px;width:100px;" type="button" class="btn btn-primary" onclick="addUser()">添加会员</a> -->
    </div>
  </div>
  <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="userlist" style="padding-right: 20px;">
      <table id="jqGrid" style="width: 100%;"></table>
      <div id="jqGridPager"></div>  
      </div>
      <div role="tabpanel" class="tab-pane" id="edituser">    
  </div>

<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content" style="width:80%;margin:auto;">
      <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">添加 | 编辑会员信息　<span>(带<span style="color:red">*</span>号为必填项)</span></h4>
        </div>
         <div class="modal-body">
            <table class="modal-table" style="width:80%;">
              <tr>
              <td>手机号<span style="color:red">&nbsp;*</span></td>
              <td>
                <input type="hidden" name="userid" id="userid"/>
                <input type="tel" class="form-control" id="tel" placeholder="请输入正确手机号"></td>
            </tr>
            
                         
            </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
          <button type="button" class="btn btn-primary" onclick="saveUser();">保存</button>
        </div>         
      </div>
    </div>
  </div>
</div>
<include file="Public/footer" />
<script type="text/javascript">
  // <a class='btn btn-danger' href='javascript:' onclick='deleteUser("+id+");'>删除</a>&nbsp;
  function formatLink(id) {
    return "<a class='btn btn-success' href='javascript:' onclick='dong("+id+");'>编辑</a>&nbsp<a class='btn btn-danger' href='javascript:' onclick='deleteUser("+id+");'>删除</a>";
  };

   
 
  function deleteUser(id){
    if (confirm("你确定要删除吗?")) {
      $.ajax({
        url: "{:U('/Admin/User/deleteUser')}",
        dataType: "text",
        async: true,
        data: { "id": id},
        type: "GET",   
        success: function(req) {
          if(req=="true")
          {
            $(window.parent.document).find("#main_iframe").attr("src","{:U('/Admin/User/User')}");
          }else{
            alert('用户删除失败!');
          }
        }
        });     
    }
  }
  
  //时间戳转换为日期格式
 
   function pics(p){
    return "<img src='"+p+"' style='width:50px;height:50px;'>";
  }
  
  $(document).ready(function($) { 
    $("#jqGrid").jqGrid({
      styleUI : 'Bootstrap',
      colModel: [
          { label: '编号', name: 'id',width:'50'},
          { label: '名称', name: 'name',width:'80'},
          { label: '类型', name: 'instruments_id',width:'80'},
          { label: '品牌', name: 'brand_id',width:'80'},        
          { label: '材质', name: 'material_id',width:'80'},
          { label: '封面', name: 'pic',width:'50',formatter:pics},
          { label: '简述', name: 'desc',width:'80'},
          { label: '价格', name: 'price',width:'80'},
          { label: '折扣', name: 'discount',width:'80'},
          { label: '状态', name: 'status',width:'80'},
          { label: '添加时间', name: 'create_at',width:'100'},
          { label: '修改时间', name: 'update_at',width:'100' },       
          { label: '操作', name: 'id',width:100,formatter: formatLink}
      ],
      viewrecords: true,
      rownumbers: true,
      rownumWidth: 35,
      height: document.documentElement.clientHeight-135,
      autowidth:true,
      rowNum: 9,
      datatype: 'local',
      loadonce:true,
      pager: "#jqGridPager"
    });
    $("#jqGrid").jqGrid('setGridParam', { data: eval({$data})});
    $("#jqGrid").trigger('reloadGrid');
  });
</script>
<script>
  //模糊查询会员
  function searchState(){
    var tphone = $("#tphone").val();
    var tel = $("#tel").val();
    var name = $("#name").val();
    var insta = $("#insta").val();
    var inend = $("#inend").val();
    if (insta.length <0 || inend.length <0) {
      alert('请选择时间');return;
    };
    $.ajax({
      url:"{:U('/Admin/User/searchUser')}",
      type:'GET',
      data:{'start':insta,'end':inend,'tphone':tphone,'tel':tel,'name':name},
      dataType:'json',
      success:function(returndata){
        $("#jqGrid").clearGridData();
            $("#jqGrid").jqGrid('setGridParam', { data: returndata});
            $("#jqGrid").trigger('reloadGrid');
      }
    });
  }
</script>
