<include file="Public/head" />
<form id="fmform" action="" method="POST" enctype="multipart/form-data">
    <input type="hidden" value="fmimg" name="imgtype" value="" />
    <input id="fmimg" style="display: none;" name="fmimg" type="file" onchange="upload('fmform','imgurl')"/>
</form>
<style type="text/css">
  table tr > td {padding-left:20px;padding-bottom:10px;width:40%;}
  .btn-green { background-color: #008d4c; color:white; }
</style>
  <table>
    <tr>
      <td colspan="4"><a href="{:U('goods/add')}" class="btn btn-primary";">添加商品</a></td>      
    </tr>
  </table>
  <div>
    <label><input type="text" name="" id="name" placeholder="请输入商品名称" class="form-control"></label>
    <label style="margin-left: 10px;margin-right:5px;"> 状态:　<select style="height:36px;width: 90px;" name="status" id="status">
        <option value="-1">请选择</option>
        <option value="0">上架</option>
        <option value="1">下架</option>
      </select></label>
      <label><button id="submit_search" class="btn btn-primary " onclick="searchState();">搜索查询</button></label>
  </div>    


  
  <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="userlist" style="padding-right: 20px;">
      <table id="jqGrid" style="width: 100%;"></table>
      <div id="jqGridPager"></div>  
      </div>
      <div role="tabpanel" class="tab-pane" id="edituser">    
  </div>
</div>
<include file="Public/footer" />
<script type="text/javascript">
  function formatLink(id,options,object) {
      var data  = object;
      var status= object.status;
      if (status == 0 ) {
        return "<a href='edit/id/"+id+"' class='btn btn-primary' style='margin-right:5px;'>编辑</a><a href='javascript:' class='btn btn-danger' id='com"+id+"' onclick='updateStatus("+id+")' data='"+status+"'>下架</a>";        
      }else{
        return "<a href='edit/id/"+id+"' class='btn btn-primary' style='margin-right:5px;'>编辑</a><a href='javascript:' class='btn btn-green' id='com"+id+"' onclick='updateStatus("+id+")' data='"+status+"'>上架</a>";        
      }

  };

  function updateStatus(id){
    if (confirm('想好了?')) {
      $.ajax({
        url:"{:U('Admin/Goods/updateStatus')}",
        type:"GET",
        data:{id:id},
        success:function(msg){
          if (msg) {
            history.go(0);
          }else{
            alert("修改失败");
          }
        }
      });
    }
  }
 
  function pics(p){
    return "<img src='"+p+"' style='width:50px;height:50px;'>";
  }

  function status(status){
     if( status == 0){
       return '<font color="green">上架</font>';
     }else{
       return '<font color="red">下架</font>';
     }
  }

  $(document).ready(function($) { 
    $("#jqGrid").jqGrid({
      styleUI : 'Bootstrap',
      colModel: [
          { label: '编号', name: 'id',width:'50'},
          { label: '名称', name: 'name',width:'80',},
          { label: '封面', name: 'pic',width:'50',formatter:pics},
          { label: '类型', name: 'instruments_id',width:'80'},
          { label: '品牌', name: 'brand_id',width:'80'},        
          { label: '材质', name: 'material_id',width:'80'},
          { label: '简述', name: 'desc',width:'80'},
          { label: '价格', name: 'price',width:'80'},
          { label: '折扣(%)', name: 'discount',width:'50'},
          { label: '状态', name: 'status',width:'50',formatter:status},
          { label: '添加时间', name: 'create_at',width:'100'},
          { label: '操作', name: 'id',width:'120',formatter:formatLink}
      ],
      viewrecords: true,
      rownumbers: true,
      rownumWidth: 35,
      height: document.documentElement.clientHeight-135,
      autowidth:true,
      rowNum: 9,
      datatype: 'local',
      loadonce:true,
      pager: "#jqGridPager"
    });
    $("#jqGrid").jqGrid('setGridParam', { data: eval({$data})});
    $("#jqGrid").trigger('reloadGrid');
  });
</script>
<script>
  //查询商品
  function searchState(){
    var name = $("#name").val();
    var status = $("#status option:selected").val();
    if (name == "" && status == -1) {
      alert("请填写商品名或者选择状态");return false;
    }
    $.ajax({
      url:"{:U('/Admin/Goods/search')}",
      type:'GET',
      data:{'name':name,'status':status},
      dataType:'json',
      success:function(returndata){
        $("#jqGrid").clearGridData();
            $("#jqGrid").jqGrid('setGridParam', { data: returndata});
            $("#jqGrid").trigger('reloadGrid');
      }
    });
  }
</script>
