<include file="Public/head" />
<script type="text/javascript" language="javascript">
   		function iframeResize(iframe) {
	        iframe.height = $(window).height()-155;
	        iframe.width = $(window).width()-30;
	    }
	    function OpenPage(menu){
	    	$("#headicon").removeClass();
			$("#headicon").addClass(menu.attr("funtypeicon"));
	    	$('#funtypename').html(menu.attr("funtype"));
	    	$('#funname').html(menu.html());
	    	if(menu.attr("data-url")==""){
	    		alert('没有设置data-url');
	    		return;
	    	}
	    	$('#main_iframe').attr("src",menu.attr("data-url"));
	    }
	</script>
<div class="container maindiv">
	<div id="nav" class="row">
		<div class="headtitle">杏坛文化</div>
		<div class="headright">
			欢迎您:&nbsp;{$_SESSION['username']}&nbsp;&nbsp;
			<a href="{:U('/Admin/Main/index')}" style="color: #FFFFFF;">&nbsp;&nbsp;&nbsp;[后台首页]</a>
			<a href="{:U('/Admin/Login/logout')}" style="color: #FFFFFF">&nbsp;[退出]</a>
		</div>
	</div>
	</div>
	<div class="row">
		<div class="col-md-2" style="padding-left: 0px;padding-right: 0px;">
			<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
			  <div class="panel panel-default">
			    <div class="panel-heading" role="tab" id="headingOne" style="padding-left: 5px;">
			      <h4 class="panel-title">
			        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne" style="font-weight:700;">
			        	<span class="glyphicon glyphicon-cog"></span>
			          系统管理
			        </a>
			      </h4>
			    </div>
			    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
			      <div class="panel-body" style="padding: 0px;">
			        <ul class="navul">
			        	<li><a href="javascript:" funtype="系统管理" funtypeicon="glyphicon glyphicon-cog"  data-url="{:U('/Admin/Admin/changepwd')}" class="	glyphicon glyphicon-lock" onclick="OpenPage($(this));">&nbsp;修改密码</a></li>
			        	<li><a href="javascript:" funtype="系统管理" funtypeicon="glyphicon glyphicon-cog"  data-url="{:U('/Admin/Admin/index')}" class="glyphicon glyphicon-wrench" onclick="OpenPage($(this));">&nbsp;基金规则</a></li>
			        	<li><a href="javascript:" funtype="系统管理" funtypeicon="glyphicon glyphicon-cog"  data-url="{:U('/Admin/Admin/lunbo/type/1')}" class="glyphicon glyphicon-picture" onclick="OpenPage($(this));">&nbsp;首页轮播图管理</a></li>
			        	<li><a href="javascript:" funtype="系统管理" funtypeicon="glyphicon glyphicon-cog"  data-url="{:U('/Admin/Admin/lunbo/type/3')}" class="glyphicon glyphicon-picture" onclick="OpenPage($(this));">&nbsp;合作机构轮播图管理</a></li>			        				        	
			        </ul>
			      </div>
			    </div>
			  </div>
			    <div class="panel panel-default">
			    <div class="panel-heading" role="tab" id="headingTw" style="padding-left: 5px;">
			      <h4 class="panel-title">
			        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTw" aria-expanded="true" aria-controls="collapseTw" style="font-weight:700;">
			        	<span class="glyphicon glyphicon-calendar"></span>
			          数据统计
			        </a>
			      </h4>
			   </div>
			   <div id="collapseTw" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTw">
			      <div class="panel-body" style="padding: 0px;">
			        <ul class="navul">
			        	<li><a href="javascript:" funtype="数据统计" funtypeicon="glyphicon glyphicon-cog"  data-url="{:U('Admin/data')}" class="glyphicon glyphicon-calendar" onclick="OpenPage($(this));">&nbsp;数据统计</a></li>
			        </ul>
			      </div>
			    </div>
			  </div>
			<div class="panel panel-default">
			    <div class="panel-heading" role="tab" id="headingT" style="padding-left: 5px;">
			      <h4 class="panel-title">
			        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseT" aria-expanded="true" aria-controls="collapseT" style="font-weight:700;">
			        	<span class="glyphicon glyphicon-user"></span>
			          用户管理
			        </a>
			      </h4>
			   </div>
			   <div id="collapseT" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingT">
			      <div class="panel-body" style="padding: 0px;">
			        <ul class="navul">
			        	<li><a href="javascript:" funtype="用户管理" funtypeicon="glyphicon glyphicon-cog"  data-url="{:U('Admin/Teacher/index')}" class="glyphicon glyphicon-user" onclick="OpenPage($(this));">&nbsp;老师</a></li>
			        	<li><a href="javascript:" funtype="用户管理" funtypeicon="glyphicon glyphicon-cog"  data-url="{:U('Admin/Mechanism/index')}" class="glyphicon glyphicon-user" onclick="OpenPage($(this));">&nbsp;机构管理</a></li>
						<li><a href="javascript:" funtype="用户管理" funtypeicon="glyphicon glyphicon-cog"  data-url="{:U('Admin/User/index')}" class="glyphicon glyphicon-user" onclick="OpenPage($(this));">&nbsp;三级分销会员管理</a></li>
						<li><a href="javascript:" funtype="用户管理" funtypeicon="glyphicon glyphicon-cog"  data-url="{:U('Admin/User/student')}" class="glyphicon glyphicon-user" onclick="OpenPage($(this));">&nbsp;学员管理-(家长的子账号)</a></li>
			        </ul>
			      </div>
			    </div>
			  </div>
			  <div class="panel panel-default">
			    <div class="panel-heading" role="tab" id="headingT1" style="padding-left: 5px;">
			      <h4 class="panel-title">
			        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo1" aria-expanded="true" aria-controls="collapseTwo1" style="font-weight:700;">
			        	<span class="glyphicon glyphicon-tasks"></span>
			          科目分类
			        </a>
			      </h4>
			   </div>
			   <div id="collapseTwo1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingT1">
			      <div class="panel-body" style="padding: 0px;">
			        <ul class="navul">
			        	<li><a href="javascript:" funtype="科目分类" funtypeicon="glyphicon glyphicon-cog"  data-url="{:U('Admin/Category/kecheng')}" class="glyphicon glyphicon-th-large" onclick="OpenPage($(this));">&nbsp;科目分类</a></li>	
			        	<li><a href="javascript:" funtype="科目分类" funtypeicon="glyphicon glyphicon-cog"  data-url="{:U('Admin/Category/fuwu')}" class="glyphicon glyphicon-th-large" onclick="OpenPage($(this));">&nbsp;服务分类</a></li>		
			        </ul>
			      </div>
			    </div>
			  </div>
			
			 <div class="panel panel-default">
			    <div class="panel-heading" role="tab" id="headingT1" style="padding-left: 5px;">
			      <h4 class="panel-title">
			        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo12" aria-expanded="true" aria-controls="collapseTwo12" style="font-weight:700;">
			        	<span class="glyphicon glyphicon-tasks"></span>
			          音乐商城管理
			        </a>
			      </h4>
			   </div>
			   <div id="collapseTwo12" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingT1">
			      <div class="panel-body" style="padding: 0px;">
			        <ul class="navul">
			        	<li><a href="javascript:" funtype="音乐商城管理" funtypeicon="glyphicon glyphicon-cog"  data-url="{:U('Admin/GoodsClass/index')}" class="glyphicon glyphicon-th-large" onclick="OpenPage($(this));">&nbsp;商品分类</a></li>
						<li><a href="javascript:" funtype="音乐商城管理" funtypeicon="glyphicon glyphicon-cog"  data-url="{:U('Admin/Goods/index')}" class="glyphicon glyphicon-th-large" onclick="OpenPage($(this));">&nbsp;商品管理</a></li>
			        </ul>
			      </div>
			    </div>
			  </div>
			
			  <div class="panel panel-default">
			    <div class="panel-heading" role="tab" id="headingfor" style="padding-left: 5px;">
			      <h4 class="panel-title">
			        <a role="button" data-toggle="collapse" data-parent="#accordion"  href="#collapsefor" aria-expanded="true" aria-controls="collapsefor" style="font-weight:700;">
			        	<span class="glyphicon glyphicon-facetime-video"></span>
			          视频管理
			        </a>
			      </h4>
			    </div>
			    <div id="collapsefor" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingfor">
			      <div class="panel-body" style="padding: 0px;">
			         <ul class="navul">
			        	<li><a href="javascript:" funtype="课程视频发布/管理" funtypeicon="glyphicon glyphicon-cog"  data-url="{:U('Admin/Course/index')}" class="glyphicon glyphicon-film" onclick="OpenPage($(this));">&nbsp;课程列表</a></li>
			        </ul>
			      </div>
			    </div>
			  </div>

			 <div class="panel panel-default">
			    <div class="panel-heading" role="tab" id="headingFi" style="padding-left: 5px;">
			      <h4 class="panel-title">
			        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFi" aria-expanded="true" aria-controls="collapseFive" style="font-weight:700;">
			        	<span class="glyphicon glyphicon-comment"></span>
			          文章管理
			        </a>
			      </h4>
			    </div>
			    <div id="collapseFi" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFi">
			      <div class="panel-body" style="padding: 0px;">
			        <ul class="navul">
			        	<li><a href="javascript:" funtype="文章管理" funtypeicon="glyphicon glyphicon-cog"  data-url="{:U('/Admin/Article/article')}" class="glyphicon glyphicon-oil" onclick="OpenPage($(this));">&nbsp;文章管理</a></li>
			        	<li><a href="javascript:" funtype="文章管理" funtypeicon="glyphicon glyphicon-cog"  data-url="{:U('/Admin/Article/activity')}" class="glyphicon glyphicon-oil" onclick="OpenPage($(this));">&nbsp;活动管理</a></li>		
			        	<li><a href="javascript:" funtype="文章管理" funtypeicon="glyphicon glyphicon-cog"  data-url="{:U('/Admin/Article/service')}" class="glyphicon glyphicon-oil" onclick="OpenPage($(this));">&nbsp;服务管理</a></li>				        		        	
			        </ul>
			      </div>
			    </div>
			  </div>
			  <div class="panel panel-default">
			    <div class="panel-heading" role="tab" id="headingfor" style="padding-left: 5px;">
			      <h4 class="panel-title">
			        <a role="button" data-toggle="collapse" data-parent="#accordion"  href="#collapsefor1" aria-expanded="true" aria-controls="collapsefor1" style="font-weight:700;">
			        	<span class="glyphicon glyphicon-gift"></span>
			          视频直播管理
			        </a>
			      </h4>
			    </div>
			    <div id="collapsefor1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingfor">
			      <div class="panel-body" style="padding: 0px;">
			         <ul class="navul">
			        	<li><a href="javascript:" funtype="视频直播管理" funtypeicon="glyphicon glyphicon-cog"  data-url="{:U('Admin/Course/roomShow')}" class="glyphicon glyphicon-th-large" onclick="OpenPage($(this));">&nbsp;直播房间管理</a></li>
			        	<li><a href="javascript:" funtype="视频直播管理" funtypeicon="glyphicon glyphicon-cog"  data-url="{:U('Admin/Course/userShow')}" class="glyphicon glyphicon-user" onclick="OpenPage($(this));">&nbsp;直播成员管理</a></li>			        	
			        </ul>
			      </div>
			    </div>
			  </div>

			  	<div class="panel panel-default">
			    <div class="panel-heading" role="tab" id="headingThree" style="padding-left: 5px;">
			      <h4 class="panel-title">
			        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="true" aria-controls="collapseThree" style="font-weight:700;">
			        	<span class="glyphicon glyphicon-yen"></span>
			         佣金管理
			        </a>
			      </h4>
			    </div>
			    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
			      <div class="panel-body" style="padding: 0px;">
			        <ul class="navul">
			        	<li><a href="javascript:" funtype="佣金管理" funtypeicon="glyphicon glyphicon-cog"  data-url="{:U('Admin/Account/commissionIndex')}" class="glyphicon glyphicon-yen" onclick="OpenPage($(this));">&nbsp;佣金列表</a></li>
			        </ul>
			      </div>
			    </div>
			  </div>

			  	<div class="panel panel-default">
			    <div class="panel-heading" role="tab" id="headingSix" style="padding-left: 5px;">
			      <h4 class="panel-title">
			        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="true" aria-controls="collapseSix" style="font-weight:700;">
			        	<span class="glyphicon glyphicon-usd"></span>
			          提现管理
			        </a>
			      </h4>
			    </div>
			    <div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
			      <div class="panel-body" style="padding: 0px;">
			        <ul class="navul">
			        	<li><a href="javascript:" funtype="提现管理" funtypeicon="glyphicon glyphicon-cog"  data-url="{:U('GetCash/cashList')}" class="	glyphicon glyphicon-align-justify" onclick="OpenPage($(this));">&nbsp;提现列表</a></li>
			        </ul>
			      </div>
			    </div>
			  </div>

			  	

			  	<div class="panel panel-default">
			    <div class="panel-heading" role="tab" id="headingF" style="padding-left: 5px;">
			      <h4 class="panel-title">
			        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseF" aria-expanded="true" aria-controls="collapseFive" style="font-weight:700;">
			        	<span class="glyphicon glyphicon-usd"></span>
			          财务对账台
			        </a>
			      </h4>
			    </div>
			    <div id="collapseF" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingF">
			      <div class="panel-body" style="padding: 0px;">
			        <ul class="navul">
			        	<li><a href="javascript:" funtype="财务对账" funtypeicon="glyphicon glyphicon-cog"  data-url="{:U('Admin/Money/oneAccount')}" class="glyphicon glyphicon-arrow-right" onclick="OpenPage($(this));">&nbsp;充值余额列表</a></li>
			        	<li><a href="javascript:" funtype="财务对账" funtypeicon="glyphicon glyphicon-cog"  data-url="{:U('Admin/Money/commission')}" class="glyphicon glyphicon-usd" onclick="OpenPage($(this));">&nbsp;分销佣金列表</a></li>			        	
			        	<li><a href="javascript:" funtype="财务对账" funtypeicon="glyphicon glyphicon-cog"  data-url="{:U('Admin/Money/organization')}" class="glyphicon glyphicon-object-align-bottom" onclick="OpenPage($(this));">&nbsp;合作机构列表</a></li>	
			        </ul>
			      </div>
			    </div>
			    <!-- <div class="panel panel-default">
				    <div class="panel-heading" role="tab" id="headingFive" style="padding-left: 5px;">
				      <h4 class="panel-title">
				        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="true" aria-controls="collapseFive" style="font-weight:700;">
				        	<span class="	glyphicon glyphicon-usd"></span>
				          数据统计
				        </a>
				      </h4>
				    </div>
				    <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
				      <div class="panel-body" style="padding: 0px;">
				        <ul class="navul">
				        	<li><a href="javascript:" funtype="数据统计" funtypeicon="glyphicon glyphicon-cog"  data-url="{:U('/Admin/Config/index')}" class="glyphicon glyphicon-flag" onclick="OpenPage($(this));">&nbsp;数据设置管理</a></li>

				        </ul>
				      </div>
				    </div>
				</div> -->
			  </div>
			</div>
		</div>
		<div class="col-md-10" style="padding-left: 0px;padding-right: 0px;">
			<div id="header" class="row contenthead">
				<span id="headicon" class="glyphicon glyphicon-home"></span>
				<span id="funtypename">后台首页</span>
				<span id="headfh" style="margin-left: 2px; margin-right: 2px"> >> </span>
				<span id="funname"></span>
			</div>
			<div>

			</div>

			<div class="row">
				<iframe src="{:U('Admin/Main/sysdatainfo')}" id="main_iframe" name="main_iframe"
					style="width: 100%;" frameborder="0" onload="iframeResize(this);" ></iframe>
			</div>
		</div>
	</div>
</div>
<include file="Public/footer" />
