<include file="Public/head" />
<style type="text/css">
.jyt_box{
  overflow: hidden;
  width: 100%;
}
.jyt_box ul{}
.jyt_box ul li{
  overflow: hidden;
  width: 100%;
  line-height: 30px;
  padding: 5px 0;
  border-bottom: 1px solid #eee;

}
.jyt_box ul li label{
  float: left;
  width: 10%;
  text-align: right;
}
.jyt_box ul li div{
  float: left;
  width: 90%;
  text-align: center;
}
.jyt_box ul li div img{
  display: block;
  margin:0 auto;
}
</style>
  <div class="jyt_box">
    <ul>
      <li>
        <label>文章标题:</label>
        <div>{$data.title}</div>
      </li>
      <li>
        <label>文章logo:</label>
        <div><img id="imgShow" width="100" height="100" src="{$data.logo}" /></div>
      </li>
      <li>
        <label>文章类型:</label>
        <div style="color:red;font-weight:bold;">
          <if condition="$data.type eq 1"> 平台介绍<elseif condition="$data.type eq 2"/>合作机构展示<elseif condition="$data.type eq 3"/>平台新闻<else /> 活动</if>
        </div>
      </li>
      <li>
        <label>文章简述:</label>
      <div>{$data.desc}</div>
      </li>
    </ul> 
  </div>
      <label style="width: 10%;text-align: right;padding: 5px 0;">文章详情:</label>
      <div id="detail" name="detail">{$data.detail}</div>
<include file="Public/footer" />

