<include file="Public/head" />

<style type="text/css">
  table tr > td {padding-left:20px;padding-bottom:10px;width:40%;}
</style>
<div>
<div>
  <table>
    <tr>
      <td><a style="width:70%" type="button" class="btn btn-primary" href="{:U('User/add')}">添加会员</a></td>
    </tr>
    <tr>
      <td><input type="text" placeholder="输入会员手机号过滤查询" id="phone" class="form-control" /></td>
      <td>
        <select class="form-control" name="grade" id="grade">
          <option value="-1">请选择会员等级</option>
          <option value="0">路人甲</option>
          <option value="1">VIP</option>
          <option value="2">VIP银卡</option>
          <option value="3">VIP金卡</option>
          <option value="4">VIP钻卡</option>
          <option value="5">合伙人</option>
        </select>
      </td>
      <td><button id="submit_search" class="btn btn-primary" onclick="searchState();">查询会员</button></td>
    </tr>
  </table>
</div>

  <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="userlist" style="padding-right: 20px;">
      <table id="jqGrid" style="width: 100%;"></table>
      <div id="jqGridPager"></div>  
      </div>
      <div role="tabpanel" class="tab-pane" id="edituser">    
  </div>

<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content" style="width:60%;margin:auto;">
      <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">修改上级</h4>
        </div>
         <div class="modal-body">
            <table class="modal-table" style="width:80%;">
                <tr>
                  <td>上级手机号:</td>
                  <td><input type="text" name="phone1" class="form-control" id="phone1" placeholder="请输入十一位手机号"></td>
                  <input type="hidden" name="pid" id="pid" value="">
                </tr>                                     
            </table>
        </div>
        <div class="modal-footer">
          <input type="hidden" name="id1" value="" id="id1">  
          <button type="button" class="btn btn-default" data-dismiss="modal" id="close1">关闭</button>
          <button type="button" class="btn btn-primary" onclick="savePid();">保存</button>
        </div>         
      </div>
    </div>
  </div>
</div>
<include file="Public/footer" />


<script type="text/javascript">

  function formatLink(id) {
    var url = "{:U('Admin/User/info')}?id="+id;
    return "<a class='btn btn-primary' href='"+url+"'>编辑</a>&nbsp;<a class='btn btn-primary' href='javascript:' onclick='updatePid("+id+");'>修改上级</a>&nbsp;<a class='btn btn-danger' id='del"+id+"'' href='javascript:' onclick='del("+id+");'>删除</a>";
  };
  function updatePid(id) { 
    $("#id1").val(id);
    $('.bs-example-modal-lg').modal().show(); 
  }
  function savePid(){
     $('#close1').click(); 
     var phone1 = $("#phone1").val();
     var id = $("#id1").val();
     var pattern = /^1[34578]\d{9}$/; 
     if (!pattern.test(phone1)) {
      alert("手机号不符合规则");return false;
     }
     $.ajax({
      url:"{:U('Admin/User/updatePid')}",
      type:"POST",
      data:{phone:phone1,id:id},
      success:function(msg){
          alert(msg.msg);
        // console.log(msg);
        if (msg.status) {
          location = "{:U('Admin/User/index')}";
        }
      }
     });
  }
 function del(id){
    if (confirm("你确定要删除？")) {
      $.ajax({
        type: "GET", 
        url: "{:U('/Admin/User/del')}",   
        data: {"id": id},       
        dataType: "json", 
        success: function(msg) {
          console.log(msg);
          if (msg) {
            $("#del"+id).parent().parent().remove();
          }else{
            alert("删除失败!");
          }
        },error : function (){
          alert('数据错误');
        }
        });     
    }
  }
 
 
  function formatlevel(li){
    if(li == 0){
      return '路人甲';
    }else if(li == 1){
      return '<font color="#CECEFF">VIP</font>';
    }else if(li == 2){
      return '<font color="#0000C6">VIP-银卡</font>';
    }else if(li == 3){
      return '<font color="#D9B300">VIP-金卡</font>';
    }else if(li == 4){
      return '<font color="#930000">VIP-钻石</font>';
    }else if(li == 5){
      return '<font color="#FFC1E0">合伙人</font>';
    }
  }
  function formatclass(ci){
    if(ci == 3){
      return '教师';
    }else if(ci == 2){
      return '机构';
    }else if(ci == 1){
      return '家长';
    }else if(ci == 0){
      return '成人';
    }
  }

  $(document).ready(function($) { 
    $("#jqGrid").jqGrid({
      styleUI : 'Bootstrap',
      colModel: [
          { label: '编号', name: 'id',width:'110'},
          { label: '上级手机号', name: 'fatherphone',width:'150'},
          { label: '昵称', name: 'nickname',width:'150'},
          { label: '会员手机号',name: 'phone',width:'150'},
          { label: '真实姓名',name: 'name',width:'120'},
          { label: '身份',name: 'class',width:'150',formatter: formatclass},
          { label: '级别',name: 'grade',width:'150',formatter: formatlevel},
          { label: '直营余额',name: 'onemoney',width:'120'},
          { label: '非直营余额',name: 'twomoney',width:'120'},
          { label: '基金金额',name: 'backmoney',width:'120' },
          { label: '注册时间',name: 'create_at',width:'150' },                  
          // { label: '来源', name: 'source',width:'300',formatter: formatsource},
          // { label: '城市', name: 'city',width:'100'},
          // { label: '区县', name: 'area',width:'100'},
          // { label: '详细地址', name: 'address',width:'300'},        
          { label: '操作', name: 'id',width:380,formatter: formatLink}
      ],
      viewrecords: true,
      rownumbers: false,
      rownumWidth: 35,
      height: document.documentElement.clientHeight-135,
      autowidth:true,
      rowNum: 9,
      datatype: 'local',
      loadonce:true,
      pager: "#jqGridPager"
    });
    $("#jqGrid").jqGrid('setGridParam', { data: eval({$data})});
    $("#jqGrid").trigger('reloadGrid');
  });
</script>
<script>
  //模糊查询会员
  function searchState(){
    var phone = $("#phone").val();
    var grade = $("#grade option:selected").val();
    if (phone == "" && grade == -1 ) {
      alert("请填写手机号或者选择等级搜索");
      return false;
    }
    $.ajax({
      url:"{:U('/Admin/User/searchUser')}",
      type:'GET',
      data:{phone:phone,grade:grade},
      dataType:'json',
      success:function(returndata){
        $("#jqGrid").clearGridData();
            $("#jqGrid").jqGrid('setGridParam', { data: returndata});
            $("#jqGrid").trigger('reloadGrid');
      }
    });
  }
</script>
