<include file="Public/head" />

<form id="fmform" action="" method="POST" enctype="multipart/form-data">
    <input type="hidden" value="fmimg" name="imgtype" value="" />
    <input id="fmimg" style="display: none;" name="fmimg" type="file" onchange="upload('fmform','imgurl')"/>
</form>
<style type="text/css">
  table tr > td:first-child{padding-left:20px;padding-bottom:10px;width:40%;text-align:center;}
  table tr > td:last-child input{width:80%;margin-bottom:10px;  }
</style>
<div>
  <div style="margin:24px;">
   <div style="margin:24px;">
      <a style="margin-left:20px;width:100px;" type="button" class="btn btn-primary" href="{:U('User/jigou')}">添加会员</a>
    </div>
    <input style="height:36px;" type="text" size="24px" placeholder="输入会员手机号过滤查询" id="phone" />
    <input style="height:36px;" type="text" size="24px" placeholder="输入会员昵称过滤查询" id="name" />
    <select class="form-control" style="width:24%;height:36px;display:inline;border-radius:2px;" id="grade">
        <option value="">请选择会员等级</option>
        <option value="1">学童</option>
        <option value="2">学霸</option>
        <option value="3">讲师</option>
        <option value="4">合伙人</option>
    </select>
    <button id="submit_search" class="btn btn-primary" onclick="searchState();">查询会员</button>
   
  </div>
  <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="userlist" style="padding-right: 20px;">
      <table id="jqGrid" style="width: 100%;"></table>
      <div id="jqGridPager"></div>  
      </div>
      <div role="tabpanel" class="tab-pane" id="edituser">    
  </div>

<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content" style="width:100%;margin:auto;">
      <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">添加 | 编辑机构　<span>(带<span style="color:red">*</span>号为必填项)</span></h4>
        </div>
         <div class="modal-body">
            <table class="modal-table" style="width:80%;">
              <tr>
              <td>机构名称<span style="color:red">&nbsp;*</span></td>
              <td>
                <input type="text" class="form-control" id="tel" placeholder="请输机构名称"></td>
            </tr>
            <tr>
              <td>封面</td>
              <td><img id="imgurl" name="imgurl" style="width: 130px;height: 130px;margin:5px auto;" class="form-control" src="__PUBLIC__/images/default.png" onclick="javascript:$('#fmimg').click();"/>
              <input id="thumbnail" type="hidden" name="thumbnail" value="" />
              <span style="color:red;">上传图片尺寸为:1145 * 500 px</span>
               </td>
            </tr>
              <tr>
                <td>机构地址<span style="color:red">&nbsp;*</span></td>
                <td><input id="city-picker3" class="form-control" readonly type="text" value="江苏省/常州市/溧阳市" data-toggle="city-picker"></td>
              </tr>          
            <tr style="margin-bottom: 10px;">        
            <td>产品简述</td>
            <td><textarea style="resize:none;width:410px;margin-bottom: 10px; " type="text" rows="4" class="form-control" name="desc" id="desc" ></textarea> 
           </tr>            
              <tr>
                <td>会员等级</td>
                    <td>
                        <select class="form-control"  name="level" id="level" style="width:80%;margin-bottom:10px">
                  <option value="1" >学童</option>
                  <option value="2" >学霸</option>
                  <option value="3" >讲师</option>
                  <option value="4" >合伙人</option>
                        </select>
                    </td>               
              </tr>
              <tr id="isNo">
                <td>是否可用</td>
                    <td>
                        <select class="form-control"  name="isenable" id="isenable" style="width:80%;margin-bottom:10px">
                  <option value="0" >不可用</option>
                  <option value="1" >可用</option>
                        </select>
                    </td>               
              </tr>
            <tr>  
              <td>备注</td>
              <td><input type="text" class="form-control" name="remark" id="remark" placeholder="备注"></td>
                  </tr>            
            </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
          <button type="button" class="btn btn-primary" onclick="saveUser();">保存</button>
        </div>         
      </div>
    </div>
  </div>
</div>
<include file="Public/footer" />


<script type="text/javascript">

  // <a class='btn btn-danger' href='javascript:' onclick='deleteUser("+id+");'>删除</a>&nbsp;
  function formatLink(id) {
    return "<a class='btn btn-success' href='info/id/"+id+"'>激活</a>&nbsp;<a class='btn btn-primary' href='javascript:' onclick='fans("+id+");'>编辑</a>&nbsp;<a class='btn btn-danger' href='javascript:' onclick='follow("+id+");'>重置密码</a>";
  };
 
  function deleteUser(id){
    if (confirm("你确定要删除吗?")) {
      $.ajax({
        url: "{:U('/Admin/User/deleteUser')}",
        dataType: "text",
        async: true,
        data: { "id": id},
        type: "GET",   
        success: function(req) {
          if(req=="true")
          {
            $(window.parent.document).find("#main_iframe").attr("src","{:U('/Admin/User/User')}");
          }else{
            alert('用户删除失败!');
          }
        }
        });     
    }
  }
  
  
 
  //时间戳转换为日期格式
  function time(nS){
     return new Date(parseInt(nS) * 1000).toLocaleString().replace(/:\d{1,2}$/,' '); 
  }
 
  function formatterImg(thumbnail){
    return "<img src ="+thumbnail+" style='width: 50px;height: 50px;'  />";
  }
  function formatlevel(li){
    if(li == 0){
      return '路人甲';
    }else if(li == 1){
      return '<font color="#CECEFF">VIP</font>';
    }else if(li == 2){
      return '<font color="#0000C6">VIP-银卡</font>';
    }else if(li == 3){
      return '<font color="#D9B300">VIP-金卡</font>';
    }else if(li == 4){
      return '<font color="#930000">VIP-钻石</font>';
    }else if(li == 5){
      return '<font color="#FFC1E0">合伙人</font>';
    }
  }
  function formatclass(ci){
    if(ci == 3){
      return '教师';
    }else if(ci == 2){
      return '机构';
    }else if(ci == 1){
      return '家长';
    }else if(ci == 0){
      return '成人';
    }
  }
  function formatstatus(si){
    if(si == 0){
      return '<font color="#EA0000">未激活</font>';
    }else if(si == 1){
      return '<font color="#00DB00">激活</font>';
    }
  }
  $(document).ready(function($) { 
    $("#jqGrid").jqGrid({
      styleUI : 'Bootstrap',
      colModel: [
          { label: '编号', name: 'id',width:'110'},
          { label: '昵称', name: 'nickname',width:'150'},
          { label: '头像', name: 'headimg',width:'120',formatter: formatterImg },
          { label: '手机号',name: 'phone',width:'150'},
          { label: '真是姓名',name: 'name',width:'120'},
          { label: '身份',name: 'class',width:'150',formatter: formatclass},
          { label: '级别',name: 'grade',width:'150',formatter: formatlevel},
          { label: '直营余额',name: 'onemoney',width:'120'},
          { label: '非直营余额',name: 'twomoney',width:'120'},
          { label: '状态',name: 'status',width:'120',formatter: formatstatus},         
          // { label: '省份', name: 'province',width:'300'},
          // { label: '城市', name: 'city',width:'100'},
          // { label: '区县', name: 'area',width:'100'},
          // { label: '详细地址', name: 'address',width:'300'},        
          { label: '操作', name: 'id',width:380,formatter: formatLink}
      ],
      viewrecords: true,
      rownumbers: false,
      rownumWidth: 35,
      height: document.documentElement.clientHeight-135,
      autowidth:true,
      rowNum: 9,
      datatype: 'local',
      loadonce:true,
      pager: "#jqGridPager"
    });
    $("#jqGrid").jqGrid('setGridParam', { data: eval({$data})});
    $("#jqGrid").trigger('reloadGrid');
  });
</script>
<script>
  //模糊查询会员
  function searchState(){
    var phone = $("#phone").val();
    var name = $("#name").val();
    var grade = $("#grade").val();
    var insta = $("#insta").val();
    var inend = $("#inend").val();
    if (insta.length <0 || inend.length <0) {
      alert('请选择时间');return;
    };
    $.ajax({
      url:"{:U('/Admin/User/searchUser')}",
      type:'GET',
      data:{'start':insta,'end':inend,'phone':phone,'grade':grade,'name':name},
      dataType:'json',
      success:function(returndata){
        $("#jqGrid").clearGridData();
            $("#jqGrid").jqGrid('setGridParam', { data: returndata});
            $("#jqGrid").trigger('reloadGrid');
      }
    });
  }
</script>
