<include file="Public/head" />

<form id="fmform" action="" method="POST" enctype="multipart/form-data">
    <input type="hidden" value="fmimg" name="imgtype" value="" />
    <input id="fmimg" style="display: none;" name="fmimg" type="file" onchange="upload('fmform','imgurl')"/>
</form>
<style type="text/css">
  table tr > td:first-child{padding-left:20px;padding-bottom:10px;width:40%;text-align:center;}
  table tr > td:last-child input{width:80%;margin-bottom:10px;  }
</style>
<div>
  <div style="margin:24px;">
   <div style="margin:24px;">
      <a style="margin-left:20px;width:100px;" type="button" class="btn btn-primary" href="{:U('Mechanism/jigou')}">添加机构</a>
    </div>
    <input style="height:36px;" type="text" size="24px" placeholder="输入会员手机号过滤查询" id="phone" />
    <input style="height:36px;" type="text" size="24px" placeholder="输入会员昵称过滤查询" id="name" />
    <button id="submit_search" class="btn btn-primary" onclick="searchState();">查询</button>   
  </div>
  <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="userlist" style="padding-right: 20px;">
      <table id="jqGrid" style="width: 100%;"></table>
      <div id="jqGridPager"></div>  
      </div>
      <div role="tabpanel" class="tab-pane" id="edituser">    
  </div>
</div>
<include file="Public/footer" />


<script type="text/javascript">

  // <a class='btn btn-danger' href='javascript:' onclick='deleteUser("+id+");'>删除</a>&nbsp;
  function formatLink(id) {
    return "<a class='btn btn-success' href='tream/id/"+id+"'>师资团队</a>&nbsp;<a class='btn btn-success' href='info/id/"+id+"'>课程列表</a>&nbsp;<a class='btn btn-primary' href='edit_jigou/id/"+id+"'>编辑</a>";
  };
 
  function follow(id){
    if (confirm("你确定要删除吗?")) {
      $.ajax({
        url: "{:U('/Admin/User/deleteUser')}",
        dataType: "text",
        async: true,
        data: { "id": id},
        type: "GET",   
        success: function(req) {
          if(req=="true")
          {
            $(window.parent.document).find("#main_iframe").attr("src","{:U('/Admin/User/User')}");
          }else{
            alert('用户删除失败!');
          }
        }
        });     
    }
  }
  
  
 
  //时间戳转换为日期格式
  function time(nS){
     return new Date(parseInt(nS) * 1000).toLocaleString().replace(/:\d{1,2}$/,' '); 
  }
 
  function formatterImg(thumbnail){
    return "<img src ="+thumbnail+" style='width: 50px;height: 50px;'  />";
  }
   function formattui(pi){
    if(pi==0){
      return '否';
    }else if(pi==1){
      return '是';
    }
  }
  $(document).ready(function($) { 
    $("#jqGrid").jqGrid({
      styleUI : 'Bootstrap',
      colModel: [
          { label: '编号', name: 'id',width:'110'},
          { label: '名称', name: 'title',width:'150'},
          { label: '封面', name: 'logo',width:'120',formatter: formatterImg },
          { label: '简介', name: 'detail',width:'300'},
          { label: '省份', name: 'province',width:'100'},
          { label: '城市', name: 'city',width:'100'},
          { label: '区县', name: 'area',width:'100'},
          { label: '详细地址', name: 'address',width:'300'},
          { label: '是否推广', name: 'tui',width:'300',formatter: formattui},
          { label: '操作', name: 'id',width:380,formatter: formatLink}
      ],
      viewrecords: true,
      rownumbers: true,
      rownumWidth: 35,
      height: document.documentElement.clientHeight-135,
      autowidth:true,
      rowNum: 9,
      datatype: 'local',
      loadonce:true,
      pager: "#jqGridPager"
    });
    $("#jqGrid").jqGrid('setGridParam', { data: eval({$data})});
    $("#jqGrid").trigger('reloadGrid');
  });
</script>
<script>
  //模糊查询会员
  function searchState(){
    var phone = $("#phone").val();
    var name = $("#name").val();
    var grade = $("#grade").val();
    var insta = $("#insta").val();
    var inend = $("#inend").val();
    if (insta.length <0 || inend.length <0) {
      alert('请选择时间');return;
    };
    $.ajax({
      url:"{:U('/Admin/User/searchUser')}",
      type:'GET',
      data:{'start':insta,'end':inend,'phone':phone,'grade':grade,'name':name},
      dataType:'json',
      success:function(returndata){
        $("#jqGrid").clearGridData();
            $("#jqGrid").jqGrid('setGridParam', { data: returndata});
            $("#jqGrid").trigger('reloadGrid');
      }
    });
  }
</script>
