<include file="Public/head" />

<form id="fmform" action="" method="POST" enctype="multipart/form-data">
    <input type="hidden" value="fmimg" name="imgtype" value="" />
    <input id="fmimg" style="display: none;" name="fmimg" type="file" onchange="upload('fmform','imgurl')"/>
</form>
<style type="text/css">
  table tr > td {padding-left:5px;padding-bottom:10px;}
</style>
<div>
<div>
  <table>
    <tr>
      <td><span>机构名称: </span><font color="red">{$name}</font>　　<a style="margin-left:20px;width:100px;" type="button" class="btn btn-primary" href="{:U('Mechanism/jiaoshi',array('pid'=>$pid))}">添加老师</a></td>
    </tr>
    <tr>
      <td><input class="form-control" type="text" size="24px" placeholder="输入会员名称过滤查询" id="nickname" style="width:250px;" />
      <input type="hidden" name="pid" id="pid" value="{$pid}"></td>
      <td><button id="submit_search" class="btn btn-primary " onclick="searchState();">查询会员</button></td>      
    </tr>
  </table>

  <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="userlist" style="padding-right: 20px;">
      <table id="jqGrid" style="width: 100%;"></table>
      <div id="jqGridPager"></div>  
      </div>
      <div role="tabpanel" class="tab-pane" id="edituser">    
  </div>


</div>
<include file="Public/footer" />


<script type="text/javascript">

  function formatLink(id) {
    var url = "{:U('Mechanism/edit_jiaoshi')}?id="+id;
    return "<a class='btn btn-primary' href='"+url+"'  >编辑</a>&nbsp;<a  class='btn btn-danger' id='com"+id+"' href='javascript:' onclick='follow("+id+");'>删除</a>";
  };
 
  function follow(id){
    if (confirm("你确定要删除吗?")) {
      $.ajax({
        url: "{:U('/Admin/Mechanism/del_jiaoshi')}",
        dataType: "json",
        data: {"id": id},
        type: "GET",   
        success: function(res) {
          if (res['code'] == 1){
            alert("删除成功");
            $("#com"+id).parent().parent().remove();
          }else{
            alert(res['msg']);
          }
        },error : function (){
        	alert('数据错误');
        }
        });     
    }
  }
  
  
 
  //时间戳转换为日期格式
  function time(nS){
     return new Date(parseInt(nS) * 1000).toLocaleString().replace(/:\d{1,2}$/,' '); 
  }
 
  function formatterImg(thumbnail){
    return "<img src ="+thumbnail+" style='width: 50px;height: 50px;'  />";
  }
  $(document).ready(function($) { 
    $("#jqGrid").jqGrid({
      styleUI : 'Bootstrap',
      colModel: [
          { label: '编号', name: 'id',width:'110'},
          { label: '名称', name: 'title',width:'150'},
          { label: '封面', name: 'logo',width:'120',formatter: formatterImg },
          // { label: '简介', name: 'detail',width:'300'},
          { label: '省份', name: 'province',width:'100'},
          { label: '城市', name: 'city',width:'100'},
          { label: '区县', name: 'area',width:'100'},
          { label: '详细地址', name: 'address',width:'300'},       
          { label: '操作', name: 'id',width:380,formatter: formatLink}
      ],
      viewrecords: true,
      rownumbers: true,
      rownumWidth: 35,
      height: document.documentElement.clientHeight-135,
      autowidth:true,
      rowNum: 9,
      datatype: 'local',
      loadonce:true,
      pager: "#jqGridPager"
    });
    $("#jqGrid").jqGrid('setGridParam', { data: eval({$data})});
    $("#jqGrid").trigger('reloadGrid');
  });
</script>
<script>
  //模糊查询会员
  function searchState(){
    var nickname = $("#nickname").val();
    var pid = $("#pid").val();
    if (nickname == "") {
      alert('请写入昵称!');return;
    };
    $.ajax({
      url:"{:U('/Admin/Mechanism/searchJGLS')}",
      type:'GET',
      data:{nickname:nickname,pid:pid},
      dataType:'json',
      success:function(returndata){
        $("#jqGrid").clearGridData();
            $("#jqGrid").jqGrid('setGridParam', { data: returndata});
            $("#jqGrid").trigger('reloadGrid');
      }
    });
  }
</script>
